@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono&family=Work+Sans:ital@0;1&display=swap');

/* 
Fonts imported:
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif; 
*/

/*
Colors used:
    color: 
*/

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Work Sans', sans-serif;
}